@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  /* border: 1px solid black; */
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

body {
  min-height: 100vh;
  background-color: #fff;
  color: #212121;
}

#__next {
  min-height: 100vh;
}

.glass {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

/* Leaflet CSS */

.leaflet-container {
  font-family: var(--font-manrope) !important;
}

.leaflet-popup-content-wrapper,
.leaflet-popup-content {
  width: fit-content !important;
}

.leaflet-control-zoom,
.leaflet-control-layers {
  border-radius: 10px !important;
  border: none !important;
}

.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  width: 44px !important;
  height: 44px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 30px !important;
  font-weight: 100 !important;
}

.leaflet-control-zoom-in {
  border-radius: 10px 10px 0 0 !important;
}

.leaflet-control-zoom-out {
  border-radius: 0 0 10px 10px !important;
}
