.testimonialContainer {
  animation: testimonialsAnimation 35s ease-in-out infinite alternate;
}

.testimonialContainerReverse {
    animation: testimonialsAnimation 35s ease-in-out infinite alternate-reverse;
  }

@keyframes testimonialsAnimation {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  to {
    -webkit-transform: translateX(-100vw);
    transform: translateX(calc(100vw - 100%));
  }
}
